<!-- navigation-->
<nav>
    <div class="jumbotron mb-0 p-3" style="height:138px;background-color:#FEF9C7;">
       <h1 style="color:maroon" class="text-center">Password Management System</h1>
        <p class="text-center" style="color:dimgray"><i>~We keep your paswords securely...</i></p>         
    </div>
    <ul class="nav justify-content-end mt-0 p-1"  style="background-color:#844D36;">
           <li class="nav-item btn-group">
              <a class="nav-link btn btn-outline-warning" role="button"  href="/login">Login</a>
              <a class="nav-link btn btn-outline-warning" role="button"   href="/signup">Sign up</a>
          </li>     
    </ul>       
</nav>