<html>
    <%- include("./partials/head.ejs") %>
    <body>
        <div class="container mt-sm-5">
            <div class="row justify-content-center">
                <div class="card  col-sm-6 offset-sm">
                   <div class="card-container">
                     <h3 class="card-header text-info text-center">Password Management System-Reset Password</h3><br>  
                     <form class="card-body" method="POST" action="/forgotPassword">                    
                      <div class="form-group"><label for="emaillink" class="form-label text-dark" >Email</label><input class="form-control" id="emaillink" placeholder="Enter your email"   type="email" name="email"></div>                   
                      <div class="m-3">
                          <button class="btn btn-primary btn-md pl-5 pr-5 text-start" id="submit" type="submit">Submit</button>
                      </div>
                     <div class="card-footer">
                          <p class="text-center">Do not you want to change password? <a href="/login"> login</a></p>
                      </div>
                </form>
             </div>
             </div>
            </div>
        </div>
    </body>
</html>