<html>
    <%- include("./partials/head.ejs") %>
    <body>
        <%- include("./partials/nav.ejs") %>
        <div>
<!--         <% if(pssword.length > 0) { %>
               <% pssword.forEach(i =>{ %>
                  <p><%= i %></p>
             <% }) %>
           <% } else { %>
           <p>There are no blogs to display ...</p>
           <% } %>-->
        </div>
    </body>
</html>